*
{
    margin: 0;
    padding: 0;
}
.logo
{
    width: 80px;
    height: 30px;
    margin-left: 100px;
}
.join
{
   margin-left: 1000px;
   margin-top: -30px;
}
.join .btn1 {
    width: 100px;
    height: 30px;
    border-radius: 4px;
    border-color: whitesmoke;
    background-color: black;
    color: white;
    border: 1px solid rgb(141, 137, 137);
}

.join .btn2 {
    width: 100px;
    height: 30px;
    border-radius: 4px;
    background-color: red;
    color: white;
    border: 1px solid black;
}
.help
{
    margin-top: 0px;
    margin-left: 15px;
    text-decoration: none;
    color: white;
    font-size: large;
}
.nav
{
    background-color: black;
    height: 60px;
}
.line1
{
    border-left: 2px solid white;
    height: 30px;
    margin-left: 12px;

}
.bac
{
    margin-top: -12px;
    margin-left: 60px;
    text-decoration: none;
    color: red;
    
}
.sect1
{
    border-left: 2px solid red;
    border-bottom: 2px solid red;
    margin-left: 90px;
    transform: rotate(45deg);
    margin-top: 5px;
    height: 10px;
    width: 10px;
}
.sect2
{
    border-bottom: 2px solid red;
    margin-left: 90px;
    width: 15px;
    margin-top: -6px;
}
.section2
{
    margin-top: 30px;
    left: 20px;
}
.section3
{
    display: flex;
    justify-content: space-around;
}
.file {
    height: 25px;
    width: 20px;
    border: 3px solid black;
    margin-left: 10px;
}

.line4 {
    border-bottom: 3px solid black;
    margin-left: 4px;
    margin-top: 5px;
    width: 8px;
}
.note
{
    border-left: 3px solid rgb(116, 114, 114);
    height: 30px;
    margin-top: 13px;
}

.line5 {
    border-bottom: 3px solid black;
    width: 5px;
    margin-left: 4px;
    margin-top: 5px;
}

.p1,
.p2,
.p3,.p4,.p5 {
    margin-left: 50px;
    margin-top: -35px
}

.sec2 {
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-top: 10px solid rgb(203, 32, 32);
    margin-left: -80px;
    border-radius: 5px;
    margin-top: 90px;
    height: 300px;
    width: 300px;
}
.sec1 li{
   font-size: 15px;
   margin-left: 8px;
   padding: 8px;
}
.sec1{
    width: 900px;
    padding: 20px;
    
}
.footer {
    width: 100%;
    height: 400px;
    background: linear-gradient(to right, #161819 0%, #240d18 100%);
    color: white;
    display: flex;
    padding-left: 5px;
}

.foot2 {
    margin-left: 20px;
    border-color:transparent;
    font-size: large;
    border-radius: 5px;
    margin-top: 8px;
    width: 150px;
    height: 40px;
}
.foot1
{
    margin-top: 20px;
    margin-left: 60px;
    font-size: x-large;
}
.bot{
    border-bottom: 2px solid rgb(83, 81, 81);
    margin-left: 60px;
    margin-top: -320px;
    width: 1300px;
}
.selec1{
    width: 150px;
    height: 50px;
    margin-top: 30px;
    border: 1px solid white;
    background-color: transparent;
    color: rgb(228, 219, 219);
    font-size: large;
}
.ft a
{
    color: white;
    text-decoration: none;
}
ul a{
    color: rgb(200, 34, 34);
    text-decoration: none;
}
ul{
    margin-left: -25px;
}
.ft{
    margin-left: 55px;
}
.sec1 a{

    text-decoration: none;
    color: red;
}
.sec1 a{
    color: red;
}
.accordion1,.accordion2,.accordion3,.accordion4
{
   background-color: white;
   border: 2px solid whitesmoke;
   margin-top: 10px;
   width: 810px;
   height: 40px;
   color: #444;
   border-radius: 5px;

}
.triangle-right {
   width: 0;
   height: 0;
   margin-left: 10px;
   margin-top: 10px;
   border-top: 7px solid transparent;
   border-left: 7px solid #ff0404;
   border-bottom: 6px solid transparent;
}
.panel1,.panel2,.panel3,.panel4 {

   display: none;
   padding-left: 20px;
   padding-top: 20px;
   background-color: white;
   overflow: hidden;
   width: 810px;
   border: 1px solid whitesmoke;
 }
 .round
{
    border: 2px solid black;
    border-radius: 50%;
    background-color: black;
    height: 25px;
    width: 25px;
}
.esc{
    margin-top: -5px;
    margin-left: 7px;
}
.pa
{
    margin-top: -28px;
    margin-left: 40px;
}