* {
    margin: 0;
    padding: 0;
}

.img1 {
    width: 80px;
    height: 30px;
    margin-left: 60px;
}

.join {
    margin-left: 900px;
    margin-top: -5px;
    padding-left: 20px;
}

.join .btn1 {
    width: 100px;
    height: 30px;
    border-radius: 4px;
    border-color: whitesmoke;
    color: black;
    border: 0px;
    border: 1px solid rgb(141, 137, 137);
}

.join .btn2 {
    width: 80px;
    height: 30px;
    border-radius: 4px;
    background-color: red;
    color: white;
    border: 0px;
}

::placeholder {
    padding-left: 40px;
    font-size: medium;
}

.inp1 {
    width: 600px;
    height: 50px;
    border-radius: 4px;
    margin-top: 20px;
    border-color: linear-gradient(to right, #161819 0%, #240d18 100%);
}

.circle {
    border: 2px solid black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 100px;
}

.line2 {
    width: 30px;
    transform: rotate(90deg);
    border: 1px solid black;
    margin-top: 18px;
}

.line1 {
    width: 10px;
    border: 1px solid rgb(0, 0, 0);
    margin-left: 115px;
    transform: rotate(45deg);
    margin-top: -1px;
}

.search {
    margin-left: 330px;
    margin-top: -35px;
    position: absolute;
}

.inp {
    position: relative;
    padding: 0;
    margin: 0;
    border-color: thistle;
}

.input1 {
    height: 50px;
    width: 430px;
    margin-top: 20px;
    border-radius: 3px;
    border: 1px solid rgb(91, 81, 81);
}

.section1 {
    text-align: center;
    margin-top: 50px;
}

.btn-group {
    border-color: transparent;
}

.border1 {
    width: 630px;
    height: 180px;
    margin-left: 400px;
    margin-top: 70px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
}

.border2 {
    width: 630px;
    height: 250px;
    margin-left: 400px;
    margin-top: 70px;
    border: 2px solid whitesmoke;
    border-radius: 5px;

}
.border3 {
    width: 630px;
    height: 300px;
    margin-left: 400px;
    margin-top: 100px;
    border: 2px solid whitesmoke;
    border-radius: 5px;

}

.border4
{
    width: 630px;
    height: 180px;
    margin-left: 400px;
    margin-top: 50px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
}
.head1,
.head2 ,.head3,.head4{
    width: 580px;
    height: 65px;
    margin-left: 20px;
    border: 1px solid rgb(243, 233, 233);
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    padding-top: 10px;
}

.head1 h5,
.head2 h5,.head3 h5,.head4 h5 {
    margin-left: 100px;
    padding-top: 15px;
}

.accordion-item {
    width: 626.5px;
    border-left: 0px solid transparent;
}

.file {
    height: 15px;
    width: 13px;
    border: 2px solid black;
    margin-left: 10px;
}

.line3 {
    border-top: 2px solid black;
    margin-top: 2px;
    width: 8px;
}

.line4 {
    border-bottom: 2px solid black;
    width: 5px;
    margin-top: 2px;
}
.cir{
    border: 2px solid red;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background-color: red;
    margin-top: 20px;
}
.hcir
{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    height: 10px; 
    width: 20px; 
    border-radius: 150px 150px 0 0; 
    background-color:red; 
    margin-left: -292px;
    margin-top: 18px;
}
.box1
{
    border: 2px solid violet;
    width: 25px;
    height: 20px;
    margin-top: 20px;
}
.triangle
{
width: 0;
height: 0;
border-top:6px solid transparent;
border-left: 6px solid violet;
border-bottom: 5px solid transparent;
margin-left: 8px;
margin-top: 2px;
}
.section6
{
    margin-left: 400px;
    margin-top: 50px;
    
}
.row
{
    border-bottom: 3px solid whitesmoke;
    width: 600px;
}
.section6 a
{
    color: black;
}
.section7
{
    text-align: center;
    margin-top: 40px;
}
.footer {
    background-color: #b8b8b8;
    opacity: 0.9;
    height: 200px;
    margin-top: 40px;
}

.foot1 a {
   
    text-decoration: none;
    color: white;
}
.bo {
    border: 2px solid black;
    border-radius: 2px;
    width: 20px;
    height: 15px;
    margin-left: 10px;
}

.bo1 {
    width: 20px;
    border-top: 2px solid black;
    margin-left: 10px;
    margin-top: -10px;
}

.li {
    width: 6px;
    border-top: 2px solid black;
    margin-left: 20px;
    margin-top: 2px;
}
.Card {
    bottom: 8px;
    margin-left: -40px;;
    top: 35px;
}
.quest {
    border: 2px solid black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.que {
    margin-top: -19px;
    margin-left: 6px;

}

.question {
    bottom: 8px;
    top: 12px;
    margin-left: 2px;
}
.section6 h6
{
    margin-left: 50px;
}
.row{
    padding-top: 20px;
}
.square {
    width: 15px;
    height: 10px;
    border: 2px solid black;
    margin-top: -23px;
    margin-left: 17px;
}

.scircle {
    border: 2px solid black;
    margin-left: 22px;
    margin-top: -7px;
    border-radius: 50%;
    height: 5px;
    width: 5px;
}

.curve {
    width: 10px;
    height: 10px;
    margin-left: 20px;
    margin-top: -16px;
    border: 2px solid black;
    border-bottom: 0px;
    border-radius: 990%;

}
.lock
{
    margin-top: 30px;
    margin-left: -15px;
}
.msg1
{
    border: 2px solid black;
    width: 20px;
    height: 15px;
}
.msg2
{
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    margin-left: 2px;
    margin-top: -5px;
    width: 12px;
    height: 12px;
    transform: rotate(315deg);
}
.quest {
    border: 2px solid black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.que {
    margin-top: -19px;
    margin-left: -44px;

}
.question{
    margin-left: -2px;
}
.card1 {
    border: 2px solid black;
    border-radius: 2px;
    width: 20px;
    height: 15px;
    margin-left: 10px;
}

.card2 {
    width: 20px;
    border-top: 2px solid black;
    margin-left: 10px;
    margin-top: -10px;
}

.card3 {
    width: 6px;
    border-top: 2px solid black;
    margin-left: 20px;
    margin-top: 2px;
}
.Card
{
    margin-left: -13px;
}
.req1
{
	width: 30px;
    margin-top: 10px;
    border-top: 2px solid black;
    transform: rotate(195deg);
}
.req2
{
    width: 30px;
    border-bottom: 2px solid black;
    transform: rotate(170deg);
}
.req3
{
    height: 20px;
    margin-left: -43px;
    border-left: 2px solid black;
    margin-top: -3px;
    margin-left: 27px;
}
.req6
{
    height: 7px;
    margin-top: -15px;
    margin-left: 0px;
    border-left: 2px solid black;

}
.req5
{
    border: 2px solid black;
    margin-left: 5px;
    width: 5px;
    height: 7px;
}
.Request{
    margin-left: -8px;
    margin-top: 5px;
}
