* {
    margin: 0;
    padding: 0;
}

.logo {
    width: 80px;
    height: 30px;
    margin-left: 100px;
}

.join {
    margin-left: 1000px;
    margin-top: -30px;
}

.join .btn1 {
    width: 100px;
    height: 30px;
    border-radius: 4px;
    border-color: whitesmoke;
    background-color: black;
    color: white;
    border: 1px solid rgb(141, 137, 137);
}

.join .btn2 {
    width: 100px;
    height: 30px;
    border-radius: 4px;
    background-color: red;
    color: white;
    border: 1px solid black;
}

.help {
    margin-top: 0px;
    margin-left: 15px;
    text-decoration: none;
    color: white;
    font-size: large;
}

.nav {
    background-color: black;
    height: 60px;
}

.line1 {
    border-left: 2px solid white;
    height: 30px;
    margin-left: 12px;

}

.bac {
    margin-top: -12px;
    margin-left: 35px;
    text-decoration: none;
    color: red;

}

.appstore {
    width: 130px;
    margin-top: -160px;
}

.playstore {
    width: 150px;
    margin-top: -160px;
    margin-left: 60px;
}

.para {
    margin-left: 280px;
    margin-top: -150px;
}

.sect1 {
    border-left: 2px solid red;
    border-bottom: 2px solid red;
    margin-left: 30px;
    transform: rotate(45deg);
    margin-top: 5px;
    height: 10px;
    width: 10px;
}

.sect2 {
    border-bottom: 2px solid red;
    margin-left: 30px;
    width: 15px;
    margin-top: -6px;
}

.section2 {
    margin-top: 30px;
    margin-left: 60px;
}

.section3 {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.file {
    height: 25px;
    width: 20px;
    border: 3px solid black;
    margin-left: 10px;
}

.line4 {
    border-bottom: 3px solid black;
    margin-left: 4px;
    margin-top: 5px;
    width: 8px;
}

.line5 {
    border-bottom: 3px solid black;
    width: 5px;
    margin-left: 4px;
    margin-top: 5px;
}

.p1,
.p2,
.p3,
.p4,
.p5 {
    margin-left: 50px;
    margin-top: -25px
}

.sec2 {
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-top: 10px solid rgb(203, 32, 32);
    margin-left: -80px;
    border-radius: 5px;
    margin-top: 100px;
    height: 380px;
    width: 330px;
}

.sec1 li {
    font-size: 15px;
    margin-left: -15px;
    padding: 8px;
}

.line2 {
    border-left: 2px solid rgb(123, 112, 112);
    height: 45px;

}

.accordion1,
.accordion2,
.accordion3,
.accordion4,
.accordion5,
.accordion6,
.accordion7,
.accordion8,
.accordion9,
.accordion10,
.accordion11 {
    background-color: white;
    border: 2px solid whitesmoke;
    margin-top: 10px;
    width: 800px;
    height: 40px;
    color: #444;
    border-radius: 5px;


}

.panel1,
.panel2,
.panel3,
.panel4,
.panel5,
.panel6,
.panel7,
.panel8,
.panel9,
.panel10,
.panel11 {

    display: none;
    background-color: white;
    overflow: hidden;
    width: 810px;
    border: 1px solid rgb(226, 161, 161);
    padding-left: 30px;


}

.triangle-right {
    width: 0;
    height: 0;
    margin-left: 10px;
    margin-top: 10px;
    border-top: 7px solid transparent;
    border-left: 7px solid #ff0404;
    border-bottom: 6px solid transparent;
}

.note {
    margin-top: -45px;
    margin-left: 10px;
}

.footer {
    width: 100%;
    height: 400px;
    background: linear-gradient(to right, #161819 0%, #240d18 100%);
    color: white;
    display: flex;
    padding-left: 5px;
}

.foot2 {
    margin-left: 20px;
    border-color: transparent;
    font-size: large;
    border-radius: 5px;
    margin-top: 8px;
    width: 150px;
    height: 40px;
}

.foot1 {
    margin-top: 20px;
    margin-left: 60px;
    font-size: x-large;
}

.bot {
    border-bottom: 2px solid rgb(83, 81, 81);
    margin-left: 60px;
    margin-top: -320px;
    width: 1300px;
}

.selec1 {
    width: 150px;
    height: 50px;
    margin-top: 30px;
    border: 1px solid white;
    background-color: transparent;
    color: rgb(228, 219, 219);
    font-size: large;
}

.ft a {
    color: white;
    text-decoration: none;
}

ul a {
    color: rgb(200, 34, 34);
    text-decoration: none;
}

ul {
    margin-left: -25px;
}

.ft {
    margin-left: 55px;
}

.sec1 ul {
    margin-left: 1px;
}

.sec1 {
    width: 800px;
}

.sec1 h5 {
    margin-top: -16px;
    font-size: 17px;
}